# =========================
# Virtual Environment
# =========================
.venv/

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# MLflow
# =========================
mlruns/
mlflow.db
*.db
mlartifacts/

# =========================
# Data files (IMPORTANT for ML projects)
# =========================
data/
*.csv
*.parquet
*.json
*.xlsx

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db